<div class="text-center">
    <button class="btn btn-outline-success" routerLink="/discover">Go Back To Discover Main</button>
</div>

<div class="main-background">
    <div class="intro-section1">
        <img src="https://drive.google.com/thumbnail?id=1F2K5HfGBEufrWlLgZq6ZWkhj4AeVsv0x" alt="A photo" width="250" height="250" />
        <p class="h2">Packaging Design</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://drive.google.com/thumbnail?id=1_VShkZH6UN1O_nWQAEmuAHrrjOah0QhA" alt="A photo" width="250" height="250" />
        <p class="h2">Social Feed Design</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://drive.google.com/thumbnail?id=1QYakdJ1rDN-jwKRVkMl2zX09Egir9cx6" alt="A photo" width="250" height="250" />
        <p class="h2">Cover Art</p>
      </div>
      <button class="btn btn-outline-success" type="submit">Click to Apply</button>
      <button class="btn btn-outline-success" type="submit">Click to Apply</button>
      <button class="btn btn-outline-success" type="submit">Click to Apply</button>
    </div>


  <hr />
    <router-outlet></router-outlet>
