.main-background {
    background-color:rgb(240, 237, 224);
    height: 63vh;
    width: 100%;
    position:relative;
    background-size: cover;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /*Hide horizontal scrollbar*/
}

.intro-section {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin-top: 100px;
    padding-left: 200px;
  }
  
  .intro-section img {
    width: 300px;
    height: 300px;
    border: 6px solid rgb(12, 143, 12);
    border-radius: 10%;
    margin-right: 20px;
  }

  .btn-outline-success{
      margin-top: 10px;
      margin-left: 230px;
      height: 40px;
      width: 230px;
  }

  .text-center{
    margin-right: 150px;
}