<div class="text-center">
    <button class="btn btn-outline-success" routerLink="/discover">Go Back To Discover Main</button>
</div>

<div class="main-background">
    <div class="intro-section">
        <img src="https://drive.google.com/thumbnail?id=11SeoV0tL5qcIb3PF7ftBij5nIryNSf6K" alt="A photo" width="250" height="250" />
        <p class="h2">Cover Illustration by <i>mitxeran</i></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://drive.google.com/thumbnail?id=1jrtSYVupWp5JlJcaJWPzEPvfd5DoGU8l" alt="A photo" width="250" height="250" />
        <p class="h2">Digital Illustration by <i>nickvector</i></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://drive.google.com/thumbnail?id=1DQULbaYqBQTi-OZghT5HmTTURw4gjPUS" alt="A photo" width="250" height="250" />
        <p class="h2">Logo Design by <i>mscarlettdesign</i></p>
      </div>
      <button class="btn btn-outline-success" type="submit">Connect with Seller</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-success" type="submit">Connect with Seller</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-success" type="submit">Connect with Seller</button>
    </div>
    
    
    <hr />
    <router-outlet></router-outlet>



