<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="logo" src = "assets/img/icons8.png">
    <a class="navbar-brand">GoWorks</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link home-nav"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
          >&nbsp;&nbsp;&nbsp;
          <a
            class="nav-link discover"
            aria-current="page"
            routerLink="discover"
            routerLinkActive="active"
          >Discover</a
          >&nbsp;&nbsp;&nbsp;
          <a class="nav-link" routerLink="#">About</a>&nbsp;&nbsp;&nbsp;

          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>







          
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
