<div class="main-background" >

<p class="h1">Be part of the world's<br>work marketplace</p>
      <p class="h2">Find exceptional talent. Build your business.<br>Take your career to the next level. </p>
      <button type="button" class="btn btn-success">Find Work</button>
      <button type="button" class="btn btn-light">Find Talent</button>

      <img class="main-image" src = "assets/img/clip-944.png">

      <div class="social-links">
        <a href="https://www.facebook.com/" target="_blank" class="facebook">Facebook</a>
        <a href="https://mobile.twitter.com/i/flow/login" target="_blank" class="twitter">Twitter</a>
        <a href="https://www.instagram.com/" target="_blank" class="instagram">Instagram</a>
      </div>

</div>